body {
  margin: 0;
  padding: 0;
}

html,
body,
#map {
  height: 100%; /* percentage for height due to a bug with Google Chrome on mobile */
  width: 100vw;
}

/*Il controllo degli attributi ha bisogno di alcuni stili CSS da sembrare carini */
.info {
  background: white;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font: 14px/16px Arial, Helvetica, sans-serif;
  padding: 6px 8px;
}

.info h4 {
  color: #777;
  margin: 0 0 5px;
}

/*Stili CSS per la classe di informazioni definita in precedenza)*/
.legend {
  color: #555;
  line-height: 18px;
}

.legend i {
  float: left;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
  width: 18px;
}
